.non-clickable {pointer-events: none;opacity: 0.5;}
.news-pagination .prev,
.news-pagination .next {outline: none;}
.news-pagination {text-align: center;}
.news-pagination .next{margin-left: 20px;}
.api-integration-news-container.widget-container .news-item img {width: 50%;}
.api-integration-news-container.widget-container .news-item h4 {font-size: 1em;font-weight: 700;}
